
<div class="row">
  <div class="col-md-4"><h1 class="text-center">To Do</h1>
    <%= render @to_do %>
  </div>
  <div class="col-md-4"><h1 class="text-center">Doing</h1>
    <%= render @in_progress %>
  </div>
  <div class="col-md-4"><h1 class="text-center">Done</h1>
    <%= render @completed %>
  </div>
</div>
<br>
<%= link_to 'New Task', new_task_path %>
